/dev---alpes-du-sud.json
/dev---bfm-cote-d-azur.json
/dev---bfm-dici.json
/dev---bfm-haute-provence.json
/dev---bfm-marseille.json
/dev---bfm-var.json
/dev-01net.json
/dev-bfm-grand-littoral.json
/dev-bfm-lille.json
/dev-bfm-lyon.json
/dev-bfmbusiness.json
/dev-bfmparis.json
/dev-bfmtv-17f13.json
/dev-rmc-c0788.json
/pprod---alpes-du-sud.json
/pprod---bfm-cote-d-azur.json
/pprod---bfm-dici.json
/pprod---bfm-haute-provence.json
/pprod---bfm-marseille.json
/pprod---bfm-var.json
/pprod-01net.json
/pprod-bfm-grand-littoral.json
/pprod-bfm-lille.json
/pprod-bfm-lyon.json
/pprod-bfmbusiness.json
/pprod-bfmparis.json
/pprod-bfmtv.json
/pprod-rmc.json
